*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width:100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: black;  
}
nav{
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px;
    margin-right: 10px; */
    height: 10vh;
    padding: 0 50px;
    align-items: center;
}
nav img {
    height: 40px;
}
ul{
    display: flex;
    gap: 50px;
    color: rgb(169, 169, 169);
}
li{
    list-style: none;
    font-size: 19px;
    cursor: pointer;
}
nav button{
    font-size: 19px;
    padding: 10px 30px;
    background-color: rgb(18, 131, 237);
    color: white;
    border-radius: 25px;
}
main{
    /* padding: 0 50px */
}
section.sec_1{
    padding: 0 50px;
}
section.sec_1 h1{
    font-size: 80px;
    color: white;
    margin-top: 40px
}
section.sec_1 span{
    color: rgb(18, 131, 237);
    font-style: oblique;
}
section.sec_1 p{
    font-size: 25px;
    margin-top: 10px;
    color: rgb(169, 169, 169);
}
div.sec_1btn{
    margin-top: 40px;
}
button.sec_1btn-1{
    padding: 15px 20px;
    font-size: 19px;
    background-color: rgb(18, 131, 237);
    border: none;
    border-radius: 25px;
    color: white;
    margin-right: 40px;
    cursor: pointer;
}
button.sec_1btn-2{
    padding: 15px 20px;
    font-size: 19px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
}
section.sec_1{
    display: flex;
}
div.leftsec_1{
    width: 60%;
    height: 100vh;
    padding-top: 40px;
    padding-left: 600px;
}
section.sec_2{
    background-color: rgb(32, 31, 31);
    /* width: auto; */
    margin-top: -200px;
    padding: 3vh 0;
}
div.logo_light{
    display: flex;
    justify-content: space-around;
   
}
section.sec_3{
    background-color: #fff;    
}
div.sec_3h1{
    text-align: center;
    padding-top: 100px ;
    font-size: 45px;
}
div.sec_3p{
    text-align: center;
    padding-top: 30px;
    word-spacing: 2px;
    font-size: 20px;
    color: rgb(92, 91, 91);
}
div.cards_1{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    text-align: center;
}
div.card_1{
   border: 1px solid black; 
   padding: 30px 20px;
   border-radius: 15px;
   cursor: pointer;
}
div.card_1 h1{
    margin-top: 20px;
}
div.card_1 p{
    margin-top: 20px;
}
div.card_2{
    border: 1px solid black; 
    padding: 30px 20px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
    position: absolute;
    bottom: -570px;
    cursor: pointer;
 }
 div.card_2 h1{
     margin-top: 20px;
 }
 div.card_2 p{
     margin-top: 20px;
 }
 div.card_3{
    border: 1px solid black; 
    padding: 30px 20px;
    border-radius: 15px;
    cursor: pointer;
 }
 div.card_3 h1{
     margin-top: 20px;
 }
 div.card_3 p{
     margin-top: 20px;
 }
 section.sec_4{
    background-color: #fff;
    padding:50px 50px;
    font-size: 50px;
    padding-top: 100px;
    font-family: Sans-serif;
 }
 section.sec_5{
    background-color: #fff;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    
 }
 div.sec_5right {
    width: 48%;
    font-size: 30px;
 }
 div.first{
    display: flex;
    justify-content: space-between;
    background-color: #3d89df;
    padding: 20px 30px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
 }
 div.second{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
 }
 div.third{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
 }
 div.forth{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
 }
 div.fifth{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
 }
 div.sec_5left{
    width: 48%;
    background-color: black;
    border-radius: 25px;
    padding: 20px 20px;
    color: #fff;
    font-size: 20px;
 }
 div.one{
    display: flex;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.two{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.three{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.four{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.five{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.six{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.seven{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 div.eight{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border: none;
    border-radius: 20px;
    background-color: #373636;
    padding: 10px 20px;
 }
 section.sec_6{
    padding: 0 50px;
    background-color: black;
    margin-top: 100px;
 }
 div.upper{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding-top: 40px;
 }
 div.upper h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 70px;
 }
 div.upper img{
    height: 70%;
 }
 div.lower{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
 }
 div.lower_card1{
    color: black;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.regular h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.regular h3{
    margin-top: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.regular h3 span{
    font-size: 15px;
    color: #636363;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.regular p{
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #636363;
 }
 div.lower ul{
    display: grid;
    gap: 10px;
    margin-top: 40px;
 }
 div.lower ul li{
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.lower li img{
    padding-right: 10px;
 }
 div.lower button{
    margin-top: 30px;
    padding: 10px 120px;
    font-size: 15px;
    background-color: #3d89df;
    border: none;
    border-radius: 25px;
    cursor: pointer;
 }
 div.lower_card2{
    color: white;
    background-color: #3d89df;
    padding: 20px 30px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.standard h1{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.standard h2{
    margin-top: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.standard h2 span{
    font-size: 15px;
    color: #c2c4c6; 
    font-family: Arial, Helvetica, sans-serif;
 }
 div.standard p{
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
 }
 div.lower_card2 ul{
    display: grid;
    gap: 10px;
    margin-top: 40px;
 }
 div.lower_card2 ul li{
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }
 div.lower_card2 li img{
    padding-right: 10px;
 }
 div.lower_card2 button{
    margin-top: 30px;
    padding: 10px 120px;
    font-size: 15px;
    background-color: white;
    color: #3d89df;
    border: none;
    border-radius: 25px;
    cursor: pointer;
 }
div.lower_card3{
   color: black;
   background-color: #fff;
   padding: 20px 30px;
   border-radius: 25px;
   font-family: Arial, Helvetica, sans-serif;
}
div.premium h1{
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
div.premium h3{
   margin-top: 20px;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
}
div.premium h3 span{
   font-size: 15px;
   color: #636363;
   font-family: Arial, Helvetica, sans-serif;
}
div.premium p{
   padding-top: 10px;
   padding-bottom: 30px;
   border-bottom: 1px solid #636363;
}
div.lower_card3 ul{
   display: grid;
   gap: 10px;
   margin-top: 40px;
}
div.lower_card3 ul li{
   font-size: 15px;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}
div.lower_card3 li img{
   padding-right: 10px;
}
div.lower_card3 button{
   margin-top: 30px;
   padding: 10px 120px;
   font-size: 15px;
   background-color: #3d89df;
   border: none;
   border-radius: 25px;
   cursor: pointer;
}